<form>
  <div class="form-group">
    <label class="font-weight-bold" for="firstName">First Name</label>
    <input class="form-control" id="firstName" type="text" name="firstName"
           ngModel required minlength="4" #firstName="ngModel" (change)="log(firstName)">
    <div class="alert alert-danger" *ngIf="firstName.touched">
      <div *ngIf="firstName?.errors.required">Required</div>
      <div *ngIf="firstName?.errors.minlength">Minlength = {{firstName?.errors.minlength.requiredLength}}</div>
    </div>

    <label class="font-weight-bold" for="comment">Comment</label>
    <textarea class="form-control" id="comment" rows="5" ngModel name="comment" #comment="ngModel" required></textarea>
    <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">Required</div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ngModel #isSubscribed="ngModel"
               name="isSubscribed">&nbsp;Subscribe {{isSubscribed.value}}
      </label>
    </div>

    <div class="form-group">
      <label for="contactMethod" class="font-weight-bold">Contact</label>
      <select id="contactMethod" name="contactMethod" class="form-control">
        <option *ngFor="let contactMethod of contactMethods"
                [value]="contactMethod.id">{{contactMethod.name}}</option>
      </select>
    </div>
  </div>

  <div *ngFor="let contactMethod of contactMethods" class="custom-control custom-radio">
    <input type="radio" name="customRadio" class="custom-control-input"
           id="{{contactMethod.id}}" [value]="contactMethod.id">
    <label class="custom-control-label" for="{{contactMethod.id}}">{{contactMethod.name}}</label>
  </div>

  <button type="submit" class="btn btn-primary btn-sm">Submit</button>

  <div class="m-2">
    <quill-editor></quill-editor>
  </div>

</form>


