<form [formGroup]="form" (ngSubmit)="login()">
  <div *ngIf="form.errors" class="alert alert-danger">Please check form</div>
  <div formGroupName="account">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="username" formControlName="username">
      <form-errors [validationName]="form.get('account.username')"></form-errors>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" name="password" formControlName="password">
      <form-errors [validationName]="form.get('account.password')"></form-errors>
    </div>

    <div class="form-group">
      <label for="topic">Topic</label>
      <input class="form-control" id="topic" type="text" #topic (keyup.enter)="addTopic(topic)">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let topic of topics.controls">{{topic.value}}
          <i class="fas fa-times float-right" (click)="onDelete(topic)"></i>
        </li>
      </ul>
    </div>

  </div>
  <button type="submit" class="btn btn-primary m-2">Submit</button>
</form>
