<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/author" [queryParams]="{order: 'newest'}">Author</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/data-binding">Data Binding</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/pipes">Pipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/reuse-component">Component</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/directives-study">Directives</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/forms-study">Forms</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/http-study">Http</a>
      </li>
    </ul>
  </div>
  <form class="form-inline float-right">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
