<div class="container">
  <div class="m-2 p-2 border">
    <h2> Emit Value: {{emitValue}}</h2>
    <fav-star [favStatus]="false" (FavChange)="onFavChange($event)"></fav-star>
  </div>

  <div class="m-2 p-2 border">
    <bootstrap-panel>
      <div class="heading">Heading</div>
      <div class="body">Body</div>
    </bootstrap-panel>
  </div>

  <div class="m-2 p-2 border">
    <h2>Tweet like</h2>
    <like [isActive]="tweet.isLiked" [likesCount]="tweet.likesCount"></like>
  </div>

  <div class="m-2 p-2 border">
    <h2>Angular material</h2>
    <div>
      <mat-checkbox #showChecked>Check me!</mat-checkbox>
      <div *ngIf="showChecked.checked">Show if checked</div>
    </div>
    <div>
      <mat-radio-group aria-label="Select an option" value="2">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <h4>Basic mat-select</h4>
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="openDialog()">Open dialog</button>
    </div>
  </div>

</div>
