<div class="container">
  <div class="row">
    <form class="form-group" style="margin: 0 auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input id="username" class="form-control" formControlName="username">
      <form-errors [validationName]="username"></form-errors>

      <label for="password">Password</label>
      <input id="password" class="form-control" formControlName="password" type="password">
      <form-errors [validationName]="password"></form-errors>
      <button type="submit" class="btn btn-primary" style="margin-top: 10px; width: 100%;">Login</button>
    </form>
  </div>
</div>
