<div class="container text-center">
  <h2>Directives Study</h2>
</div>

<div class="container border p-3">
  <h3>ng Switch Case</h3>
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [class.active]="viewSelected == 'map'" (click)="viewSelected = 'map'">Map</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewSelected == 'list'" (click)="viewSelected = 'list'">List</a></li>
  </ul>

  <div [ngSwitch]="viewSelected">
    <div *ngSwitchCase="'map'">Map view</div>
    <div *ngSwitchCase="'list'">List view</div>
    <div *ngSwitchDefault>Default</div>
  </div>
</div>

<div class="container border p-3">
  <h3>Custom directive</h3>
  <input type="text" [appInputFormat]="'upperCase'">
</div>


<div class="container border p-3">
  <h3>Zippy Exercise</h3>
  <zippy title="Shipping Details">Shipping content</zippy>
  <zippy title="Billing Details">Billing content</zippy>
</div>


