/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";


.container{
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 520px;
}

.my-alert{
  margin-top: 1px;
  font-size: 80%;
}



