<div *ngIf="validationName.pending"><i class="fa fa-spinner fa-spin"></i>&nbsp;Checking ...</div>
<div class="alert alert-danger my-alert" *ngIf="validationName.touched && validationName.invalid">
  <div *ngIf="validationName.hasError('required')">Required</div>
  <div *ngIf="validationName.hasError('minlength')">Minlength</div>
  <div *ngIf="validationName.hasError('maxlength')">Maxlength</div>
  <div *ngIf="validationName.hasError('cannotContainSpace')">Cannot Contain Space</div>
  <div *ngIf="validationName.hasError('shouldBeUnique')">Should Be Unique</div>
  <div *ngIf="validationName.hasError('oldPasswordError')">Old Password Error</div>
</div>
